.FooterFrame {
  display: flex;
  padding: 3rem 0rem 0rem 0rem;
  min-height: 100vh;
  align-items: end;

  @media @large {
  }
  @media @desktop, @desktop-strict {
  }
  @media @tablet, @tablet-strict {
  }
  @media @phone, @phone-strict {
  }
}
