.SectionWIthChildren {
  display: flex;
  flex-direction: column;
}

.SectionWIthChildren-name {
  display: flex;
  flex-direction: row;
}

.SectionWIthChildren-level-0 {
  display: flex;
}

.SectionWIthChildren-level-1 {
  display: flex;
}

.SectionWIthChildren-level-2 {
  display: flex;
}

.SectionWIthChildren-level-3 {
  display: flex;
}

.SectionWIthChildren-level-4 {
  display: flex;
}
