.App {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  padding: 2rem;
  font-size: 1.5rem;
}

.App_ul {
  display: flex;
  flex-direction: column;
}

.App_li {
  display: flex;
  flex-direction: column;
}

.App_notes {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 0;
}
